// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #fff;
  }
}


.pagination {
  .previous_page { 
    color: #337ab7;  
  }
  .previous_page.disabled { 
    color:#115773;
  }
  .current {  
    color:#115773;
  }
  .next_page { 
    color: #337ab7; 
  }
  .next_page.disabled { 
    color:#115773;
  }
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #dddddd;
 }
